<div class="search-container">

  <div class="search-box-container ui segment">

    <div class="ui fluid action input search-box">
      <input #term (keyup)="search(term.value)" type="text" placeholder="Search...">
      <div class="ui button">Search</div>
    </div>

    <div class="filter-bar">
      <span>Filters</span>
      <div class="filters">

        <div class="ui toggle checkbox">
          <input type="checkbox" name="public">
          <label>Lowest ratings</label>
        </div>

        <div class="ui toggle checkbox">
          <input type="checkbox" name="public">
          <label>Best ratings</label>
        </div>

      </div>
    </div>

  </div>

  <div class="results-container">
    <div
      class="pizza-item ui segment"
      *ngFor="let pizza of items$ | async"
      id="{{ pizza.id }}">

      <app-pizza-card
        [pizza]="pizza"
        (order)="onOrder($event)">
      </app-pizza-card>

    </div>
  </div>

</div>
