<div class="ui borderless main menu">
  <div class="ui text container">
    <div href="#" class="header item">
      <span class="logo">
        <span class="delivery-logo">Delivery</span><span class="delivery-pizza-logo">Pizza</span>
      </span>
    </div>
    <a routerLink="/menu" class="item">Menu</a>
    <a routerLink="/interactive" class="item">Interactive Pizza</a>
    <a href="#" class="ui right floated dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Link Item</div>
        <div class="item">Link Item</div>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <div class="item">Link Item</div>
            <div class="item">Link Item</div>
          </div>
        </div>
        <div class="item">Link Item</div>
      </div>
    </a>
  </div>
</div>
